/* Estilo base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #080505 !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
}

.navbar-brand {
    font-size: 50px !important;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase; 
    color: white; 
    text-align: center; 
}

.navbar a {
    color: white ;
    margin-right: 10px;
}

.navbar a:hover {
    color: #ffffff;
}

.container {
    max-width: 800px;
    margin-top: 50px;
    color: #ffffff;
    border-style: double;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff !important;
    margin-bottom: 20px;
}







/* Estilo para a página de login */
.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}







/* Estilo para mensagens de flash */
.flash-messages {
    margin-bottom: 10px;
}

.flash-messages .alert {
    font-size: 1.1rem;
    font-style: italic;
    color: #ffffff; 
    border-radius: 5px; 
}


.alert-success {
    background-color: #28a745 !important; 
    border: 1px solid #218838 !important; 
}

.alert-error {
    background-color: #dc3545 !important; 
    border: 1px solid #bd2130 !important; 
}

.alert-warning {
    background-color: #ffc107 !important; 
    border: 1px solid #e0a800 !important; 
}

.alert-info {
    background-color: #17a2b8 !important; 
    border: 1px solid #073a42 !important; 
}







/* Estilo para tabelas de produtos */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
}

table td {
    background-color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}







/* Botões */
.btn {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}
