{% extends 'base.html' %}

{% block content %}
<h1>ATUALIZAR PRODUTO</h1>
<form method="POST">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ item.nome }}" required>
    </div>
    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="text" class="form-control" id="quantidade" name="quantidade" value="{{ item.quantidade }}">
    </div>
    <button type="submit" class="btn btn-primary">ATUALIZAR</button>
</form>
{% endblock %}
